<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<form action="/" method="post">
				<?php
				if(isset($flash['errors'])){
					?>
					<div class="panel panel-danger">
						<div class="panel-body bg-danger">
							Oh no, something has gone wrong!
							<ul>
								<?php
								foreach($flash['errors'][0] as $key => $values){
									?>
									<li><?php echo ucfirst($key); ?>
										<ul>
											<?php
											foreach($values as $value){
												?>
												<li><?php echo str_replace('""', '', $value); ?></li>
												<?php
											}
											?>
										</ul>
									</li>
									<?php 
								}
								?>
							</ul>
						</div>
					</div>
				<?php
				}
				?>
				<div class="form-group">
					<label for="name">Name: </label>
					<input type="text" name="name" valu="" class="form-control" placeholder="Enter Name">
				</div>
				<div class="form-group">
					<label for="name">Email: </label>
					<input type="text" name="email" value="" class="form-control" placeholder="Enter Email">
				</div>
				<div class="form-group">
					<label for="name">Telephone: </label>
					<input type="text" name="telephone" value="" class="form-control" placeholder="Enter Telephone">
				</div>
				<div class="form-group">
					<label for="name">DOB: </label>
					<input type="date" name="dob" value="" class="form-control" placeholder="Enter Name">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>