<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>Success!!</h1>
			<p>Record has been added to the DB.</p>
			<p><a href="/" class="btn btn-default">Add Another</a></p>
		</div>
	</div>
</div>